.App {
  text-align: center;
  padding : 0;
  margin : 0;
  height: 100vh;
  width: 100vw;
  /* background: rgb(15,32,39);
  background: linear-gradient(113deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 46%, rgba(44,83,100,1) 100%); */
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */
  background: url("../../assets/logo.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}